**/uploads
**/__pycache__
__pycache__
*.db-wal
*.db-shm
*.xls*
*.db
*.sqlite
ADMIN_DB.db
dist
build
*.duckdb
!ADMIN_DB.duckdb
*.wal
*.ipynb
!db.ipynb
*.rar
*.gz
*.zip
*.env
!static/conf
*.zip
*.txt
database/